## Correção da Prova P1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/caio-c-silva/aulas_python_2S2022/blob/main/notebooks_atividades/prova_corrigida_EC.ipynb)

Coloque na célula abaixo sua data de nascimento

In [ ]:
from datetime import datetime

dob = "20/10/2004"    # Data de nascimento do aluno



# Converter a data de nascimento para o formato datetime
dob_dt = datetime.strptime(dob, '%d/%m/%Y') 

# Converter dia da prova para o  para o formato datetime
dia_prova_dt = datetime.strptime("01/09/2022", '%d/%m/%Y')

# cálculo da idade e atribuição à variável idade
idade = dia_prova_dt - dob_dt
idade = int(idade.days / 365.25)

# atribui o dia do nascimento à variável dia
dia = dob_dt.day


# Atribuir os valores de dia e idade às variáveis x e y
x = dia
y = idade

## Questão 1

In [ ]:
a = False
b = 3.7
c = "Laura"
d = 7
e = "True"
f = 17
g = "17"
h = True
i = "3.14159"

print('1. ', type(a))
print('2. ', type(b))
print('3. ', type(c))
print('4. ', type(d))
print('5. ', type(e))
print('6. ', type(f))
print('7. ', type(g))
print('8. ', type(h))
print('9. ', type(i))

## Questão 2

In [ ]:
print('1. ', int(b))
print('2. ', float(f))
print('3. ', float(g))
#int(i)
print('4. ', "erro")
print('5. ', float(i))
print('6. ', int(float(i)))

## Questão 3

In [ ]:
print('1.', (x-10)**2 + (y//2)) # 1

if x == 10:
    print('2. ','indefinido')
else:
    print('2. ',(y % (x-10) - 3) * 10 * (x + y)) # 2

## Questão 4

In [ ]:
a = True
b = False
c = True

print('1. ', b and c)
print('2. ', b or c)
print('3. ', not a and b)
print('4. ', (a and b) or not c)
print('5. ', not b and not(a or c))

## Questão 5

In [ ]:
## rodar

print('1.', (x-10)**2 == 0 and (y//2) + 1 == 5) 

print('2. ',((2 * y) % x - 3) < 0 or not (x - y)**2 >= 0)

## Questão 6

In [ ]:
alternativas = [['São Paulo', 100000], ['Belo Horizonte', 60000], ['Curitiba', 50000], ['Estação Espacial', 1.99], ['Curitiba', 25000]]

for alternativa in alternativas:

    local = alternativa[0]
    salario = alternativa[1]

    if local == 'Estação Espacial':
        print('Fui!!!') 
    elif local == 'São Paulo':
        if salario < 100000:
            print('De jeito nenhum!')
        else:
            print('Eu vou')
    elif local == 'Curitiba' and salario > 40000:
        print('Eu vou')
    elif salario > 60000:
        print('Eu vou')
    else:
        print('Não obrigado, eu posso achar algo melhor!')

## Questão 7

In [ ]:
print(list(range(1, 78)))
print(list(range(2, 30, 3)))
print(list(range(55, 4, -5)))

## Questão 9

In [ ]:
print('1. \n')

divisor = 2
for i in range(0, 10, 2):
    print(i/divisor)

print('\n 2. \n')

cont = 0
expo = 1
for num in range(5, 36, 5):
    if num % 2 == 0:
        cont += 1
    elif num % 7 == 0:
        expo *= (num/5)**2
print(cont)
print(expo)