## Correção da Prova P1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/caio-c-silva/aulas_python_2S2022/blob/main/notebooks_atividades/prova_corrigida_SI.ipynb)

Coloque na célula abaixo sua data de nascimento

In [12]:
from datetime import datetime

dob = "20/10/2004"    # Data de nascimento do aluno



# Converter a data de nascimento para o formato datetime
dob_dt = datetime.strptime(dob, '%d/%m/%Y') 

# Converter dia da prova para o  para o formato datetime
dia_prova_dt = datetime.strptime("31/08/2022", '%d/%m/%Y')

# cálculo da idade e atribuição à variável idade
idade = dia_prova_dt - dob_dt
idade = int(idade.days / 365.25)

# atribui o dia do nascimento à variável dia
dia = dob_dt.day


# Atribuir os valores de dia e idade às variáveis x e y
x = dia
y = idade

## Questão 1

In [2]:
a = False
b = 3.7
c = "Laura"
d = 7
e = "True"
f = 17
g = "17"
h = True
i = "3.14159"

print('1. ', type(a))
print('2. ', type(b))
print('3. ', type(c))
print('4. ', type(d))
print('5. ', type(e))
print('6. ', type(f))
print('7. ', type(g))
print('8. ', type(h))
print('9. ', type(i))

1.  <class 'bool'>
2.  <class 'float'>
3.  <class 'str'>
4.  <class 'int'>
5.  <class 'str'>
6.  <class 'int'>
7.  <class 'str'>
8.  <class 'bool'>
9.  <class 'str'>

## Questão 2

A expressão int(i) resulta em erro

In [3]:
print('1. ', int(b))
print('2. ', float(f))
print('3. ', float(g))
#int(i)
print('4. ', "erro")
print('5. ', float(i))
print('6. ', int(float(i)))

1.  3
2.  17.0
3.  17.0
4.  erro
5.  3.14159
6.  3

## Questão 3

In [4]:
print('1.', (x-10)**2 + (y//2)) # 1

if x == 10:
  print('2. ','indefinido')
else:
  print('2. ',(y % (x-10) - 3) * 10 * (x + y))

1. 108
2.  1480

## Questão 4

In [5]:
a = False
b = True
c = False

print('1. ', b and c)
print('2. ', b or c)
print('3. ', not a and b)
print('4. ', (a and b) or not c)
print('5. ', not b and not(a or c))

1.  False
2.  True
3.  True
4.  True
5.  False

## Questão 5

In [6]:
print('1.', (x-10)**2 == 0 and not (y//2) + 1 == 5) 

print('2. ',((2 * y) % x - 3) < 0 or (x - y)**2 >= 0)

1. False
2.  True

## Questão 6

In [10]:
alternativas = [['São Paulo', 50000], ['Belo Horizonte', 50000], ['Curitiba', 50000], ['Estação Espacial', 1.99], ['Curitiba', 25000]]

for alternativa in alternativas:

    local = alternativa[0]
    salario = alternativa[1]

    if local == 'Estação Espacial':
        print('Fui!!!') 
    elif local == 'São Paulo':
        if salario < 100000:
            print('De jeito nenhum!')
        else:
            print('Eu vou')
    elif local == 'Curitiba' and salario > 40000:
        print('Eu vou')
    elif salario > 60000:
        print('Eu vou')
    else:
        print('Não obrigado, eu posso achar algo melhor!')

De jeito nenhum!
Não obrigado, eu posso achar algo melhor!
Eu vou
Fui!!!
Não obrigado, eu posso achar algo melhor!

## Questão 7

In [ ]:
print(list(range(1, 82)))
print(list(range(2, 27, 3)))
print(list(range(55, 4, -5)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81]
[2, 5, 8, 11, 14, 17, 20, 23, 26]
[55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

## Questão 9

In [11]:
print('1. \n')

divisor = 2
for i in range(0, 10, 2):
  print(i/divisor)

print('\n 2. \n')

cont = 0
expo = 1
for num in range(0, 31, 5):
  if num % 2 == 0:
    cont += 1
  elif num % 3 == 0:
    expo *= (num/5)**2
print(cont)
print(expo)

1.

0.0
1.0
2.0
3.0
4.0

 2.

4
9.0